body {
    font-family: "Lucida Console", Courier, monospace;
    background-color: #c4f9f6;
}

h1 {
    font-weight: bold;
}

.team-heading {
    background-color: rgb(8, 135, 247);
}
.employee-card {
    margin: 30px;
    width: 2000px;
    box-shadow: 10px 10px;
}

.card-header {
    background-color: #e3faf9;
}